h1 {
    color: #000;
    font-family: sans-serif !important;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}