/* *********************************** */
/* basic configuration */
/* *********************************** */

:root {
  --background-primary: #FFFAF7;
  --color-primary: #EB651C;
}

* {
  font-family: sans-serif !important;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-primary);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}